%h1
  = @list.title

.toDoList
  %ul
    - @list_items.each do |item|
      %li
        = check_box_tag("checkbox_list_item_#{item.id}", item.id, 
                        item.completed, class: 'toDoItemCheckbox')
        .toDoItem{ class: (item.completed ? 'done' : 'todo'), 
                   id: "todo_item_#{item.id}" }
          = item.description

= form_for :list_item, url: list_items_create_path do |f|
  = f.text_field :description
  = f.hidden_field :list_id, value: @list.id
  = f.submit "Add Item"

.hideItems
  = button_to "Hide Checked Items", lists_hide_completed_items_path(id: @list.id)