%h1
  Sign Up
#sessionForm
  = form_for @user, url: users_create_path do |f|
    %ul
      %li
        = f.label :email 
        = f.text_field :email
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %li  
        = f.submit "Sign Up", class: 'rightButton'
      %li     
        Or 
        = link_to "sign in now!", login_path